.content-article-crawler {
    height: 300px;
    overflow-x: scroll;
}

.content-title-crawler {
    width: 200px;
}

#table-crawler {
    width: auto;
    height: auto;
}

img {
    max-width: 100%;
    height: auto;
}